@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

body {
  margin: 0;
  font-family: var(--ff-secondary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(42, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(43, 89%, 70%);
  --clr-primary-7: hsl(43, 90%, 76%);
  --clr-primary-8: hsl(45, 86%, 81%);
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

/* General */
::selection {
  color: white;
  background-color: cornflowerblue;
}

.App {
  max-width: 100%;
  height: 100%;
  /* border: 2px solid coral; */
  position: relative;
}

/* Links */
a {
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: black;
  font-size: 1.25rem;
  font-weight: 500;
}

a:hover {
  color: var(--clr-primary-5);
}

/* Aside */
.aside {
  position: fixed;
  background-color: #f1f5f8;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 4;
  display: flex;
  flex-direction: column;
  /* place-items: center; */
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.showSideBar {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.navLinks {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}

.navBar {
  padding-top: 20px;
  vertical-align: top;
}

/* Aside Btn */
div.btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  margin-bottom: 15px;
}

.introBtn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.introBtn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}

/* Back of Image */
.backOfImage::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0.25rem solid var(--clr-primary-5);
  top: 2rem;
  right: -2rem;
  border-radius: var(--radius);
}

.aboutBackImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Connect video */

.connect {
  -webkit-clip-path: polygon(
    50% 0%,
    100% 10%,
    100% 90%,
    50% 100%,
    0 90%,
    0 10%
  );
  clip-path: polygon(50% 0%, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10%);
}

.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  z-index: -2;
}

.video-banner {
  background: var(--clr-primary-10);
  padding: 3rem 5rem 12rem 5rem;
  text-align: center;
  width: 40%;
  margin: 0 auto;

  -webkit-clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );

  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}

/* Skills */

.skill {
  background: var(--clr-primary-9);
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 25px 0px;
}

.skill p {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  color: var(--clr-primary-1);
  margin-right: 400px;
}

.skillValue {
  /* border: 2px solid green; */
  position: absolute;
  border-radius: 0.25rem;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: var(--clr-primary-5);
}

.value75 {
  width: 75%;
}

.skillContainer {
  /* border: 2px solid red; */
  background: var(--clr-white);
  height: 1rem;
  border-radius: 0.25rem;
  position: relative;
  width: 50%;
}

.skillValueText {
  position: absolute;
  top: -2.9rem;
  left: 75%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.skillText50 {
  left: 50%;
}

.skillText50 {
  left: 50%;
}

/* Project div */
.ava {
  /* border: 2px solid green; */
  margin-top: 10px;
  margin-bottom: 15px;
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  align-items: center;
  justify-content: space-between;
}

/* Services */

.underlineService {
  border: 3px ridge #e9b949;
  margin-top: 3px;
}

/* Media Queries */
@media screen and (max-width: 895px) {
  .navLinks {
    display: none;
  }

  .App {
    width: 100%;
    /* border: 2px solid coral; */
  }
}

@media screen and (min-width: 470px) {
  .skill p {
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    color: var(--clr-primary-1);
    margin-right: 150px;
  }
}

@media screen and (max-width: 460px) {
  .aboutBackImage::before {
    display: none;
  }

  .backOfImage::before {
    display: none;
  }

  .video-banner {
    width: 55%;
  }

  .skill p {
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    color: var(--clr-primary-1);
    margin-right: 120px;
  }
}

@media screen and (min-width: 768px) {
  .skill p {
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    color: var(--clr-primary-1);
    margin-right: 300px;
  }
}
